*{
    margin: 0;
    padding: 0;
}
  
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "work sans", sans-serif;
    background: #7e1313;
}


.time{
    background-color: rgb(197, 33, 33);
    background: #050547;
    color: #fff;
    border: 7px solid rgba(255,252,252);
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 
                0 2px 10px 0 rgba(0,0,0,0.12);
    width: 700px;
    padding: 8px;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}
.time:hover{
    background: #080f14;
    box-shadow: 0 0 3px #2E94E3;
} 



.hms{
    font-size: 68pt;
    font-weight: 200;
}

.ampm{
    font-size: 22pt;
}

.date{
    font-size: 15pt;
}